@font-face {
    font-family: OldLondonAlternate;
    src: url('../assets/OldLondonAlternate.ttf');
}

@import url("https://use.typekit.net/hjt1gxe.css");

:root {
    --gray: #4C4C4C;
    --darkgray: #343434;
    --lightgray: #F3F3F3;
    --dropshadow: #d6d6d6;
}

html {
    box-sizing:border-box;
}

*, *:before, *:after {
    box-sizing:inherit;
}

img {
    max-width: 100%;
}

body {
    font-family: 'Komet', sans-serif, serif;
    margin: 0;
}

p {
    margin: 0;
}

::-webkit-scrollbar {
    width:.4vw;
}

::-webkit-scrollbar-thumb {
    background-color: maroon;
    border-radius: 1vw;
}

header {
    position: relative;
    background-color: black;
    color:white;
    height: 5.2vw;
    display: flex;
    position: sticky;
    top:0;
    z-index: 1;

    filter: drop-shadow(1px 3px 3px black);
}

.navtitle {
    font-family: OldLondonAlternate, 'Komet', sans-serif, serif;
    font-size: 4vw;
    display:flex;
    margin-left: 1vw;
}

.pagetitle {
    margin:0;
    text-align: center;
    color:white;
    font-size:13vw;
    padding-top:10vw;
}

.topsection {
    height:40vw;
    background-repeat: no-repeat;
    background-size: cover;
}

.subtitleTHE {
    font-size: 1.5vw;
    position: absolute;
    left: 3.7vw;
}

.subtitleRNB {
    font-size: 1.5vw;
    position: absolute;
    left: 8vw;
    top:3.4vw;
}

nav {
    display:flex;
    position: absolute;
    right:6.8vw;
    top:25%;
    
}

nav > a {
    color:white;
    text-decoration: none;
    width:auto;

    text-align: right;
    font-size: 2vw;
    padding: .2vw 2vw .2vw 2vw;

    border-right: var(--darkgray) 2px solid;
}

nav > a:hover {
    background-color: var(--gray);
}


footer {
    position: relative;
    height: 10vw;
    padding-top: 1vw;
    background-color: var(--lightgray);
}

.footertitle {
    font-family: OldLondonAlternate, 'Komet', sans-serif, serif;
    font-size: 4vw;
}

.footerinfo {
    text-align: center;
    font-size: 1vw;
}

.footernav {
    position: absolute;
    right: 1vw;
    bottom: 1vw;
    line-height: 2vw;
    text-align: right;
    font-size: 1vw;
}

.footernav > a {
    color:black;
}



