
:root {
    --menuseperator: #E5E5E5;
    --sectionsubtitle: #707070;

    scroll-behavior: smooth;
}

.topsection {
    background-image: url(../images/pasta.jpg);
}

.comment {
    font-size:1vw;
    font-style: italic;
}

.seperator {
    position: relative;
    height:15vw;
    background-color: white;
}

.seperator > .comment {
    float:right;
    padding: .5vw .5vw 0 0;
}

.menunav {
    position: sticky;
    display: flex;
    top: 5vw;
    left:15%;
    width:70%;
    border-radius: 1vw 1vw 0 0;
    background-color: var(--lightgray);
    z-index: 1;
}

.menunavbackground {
    position: absolute;
    width:100%;
    background-color: white;
    height:3.7vw;
}

.menunav > h1 {
    margin:0;
    font-size:3vw;
    border-right: 3px var(--menuseperator) solid;
}

.menunav > h1 > a {
    text-decoration: none;
    color:black;
    padding-left:.5vw;
    padding-right:.5vw;
}

.menunav > h1 > a:active {
    background-color: maroon;
    color:white;
}

.menunav > h1:hover {
    background-color: var(--menuseperator);
}

.main {
    padding-bottom: 10vw;
    background-color: var(--lightgray);
}

.menusection {
    display:grid;
    width:90%;
    margin:auto;
    margin-top:10vw;
    grid-template-columns: auto auto auto auto;
    row-gap: 3vw;
}

.drinksection {
    display:grid;
    width:90%;
    margin:auto;
    margin-top:10vw;
    grid-template-columns: auto auto;
    row-gap: 3vw;
}

.sectionheader {
    grid-column-start: 1;
    grid-column-end: 5;
    margin-left:1.5vw;
}

.drinksectionheader {
    
    grid-column-start: 1;
    grid-column-end: 3;
    margin-left:1.5vw;
}

.sectiontitle {
    font-size: 3vw;
    font-weight: 900;
    margin:0;
}

.sectionsubtitle {
    font-size: 1vw;
    color:var(--sectionsubtitle);
    margin:0;
    font-weight: 500;
}

.subsectiontitle {
    font-size: 3vw;
    font-weight: 800;
    margin:0;
    display:inline;
}

.subsectionsubtitle {
    position: absolute;
    font-size: 1vw;
    color:var(--sectionsubtitle);
    margin:0;
    padding-top: 1.4vw;
    padding-left:1vw;
    font-weight: 500;
    display:inline;
}

.foodcard {
    position: relative;
    width:20vw;
    height:25vw;
    margin:auto;
    font-size: 1vw;
    background-color: white;
    border-radius: 1vw;
    filter: drop-shadow(3px 3px 3px var(--dropshadow));
}

.foodtitle {
    text-align: center;
    font-size: 1.5vw;
    color:white;
    background-color: var(--darkgray);
    width:fit-content;
    min-width: 80%;
    margin:auto;
    padding: .1vw 2vw 0 2vw;
    height:2.2vw;
    border-radius: 1vw;
    margin-top: -1vw;
}

.fooddesc {
    position: relative;
    padding:.5vw 1vw 1vw 1vw;
    font-size: 1.3vw;
    height:18vw;
}

.fooddesc > span.comment {
    position: absolute;
    font-size: .8vw;
    text-align: right;
    bottom: -.5vw;
    right: .5vw;
}

.drinkcard {
    position: relative;
    width:42.8vw;
    height:8vw;
    margin:auto;
    font-size: 1vw;
    background-color: white;
    border-radius: 1vw;
    filter: drop-shadow(3px 3px 3px var(--dropshadow));
}

.largedrinkcard {
    position: relative;
    width:42.8vw;
    height:10vw;
    margin:auto;
    font-size: 1vw;
    background-color: white;
    border-radius: 1vw;
    filter: drop-shadow(3px 3px 3px var(--dropshadow));
}

.drinkspecialcard {
    text-align: center;
}

.drinkspecialcard > h1 {
    margin:0;
    font-size: 3vw;
    margin-bottom: .25vw;
}

.drinkspecialcard > p {
    font-size: 1.3vw;
    margin-bottom: .25vw;
}

.drinkspecialcard > span.comment {
    font-size: 1.2vw;
    font-weight: lighter;
}

.icecreamdrinkcard {
    position: relative;
    width:42.8vw;
    height:20vw;
    margin:auto;
    font-size: 1vw;
    background-color: white;
    border-radius: 1vw;
    filter: drop-shadow(3px 3px 3px var(--dropshadow));

    grid-column: 2 / 2;
    grid-row: 2 / 4;

}

.icecreamdrinkcard > .drinktitle {
    font-size: 2.2vw;
    height:auto;
    margin:auto;
    margin-top: -1.5vw;
}

.icecreamdrinkcard > .drinkcomment {
    right: 1vw;
    top: .5vw;
}

.icecreamdrinkcard > .drinkdesc > div {
    margin-top: .5vw;
}

.icecreamdrinkcard > .drinkdesc > div > span {
    font-weight: bolder;
}

.drinktitle {
    text-align: center;
    font-size: 1.5vw;
    color:white;
    background-color: var(--darkgray);
    width:fit-content;
    min-width: 40%;
    padding: .2vw 2vw 0 2vw;
    height:2.2vw;
    border-radius: 1vw;
    margin-top: -1vw;
    margin-left: 1vw;
}

.drinkdesc {
    width: 90%;
    height:73%;
    position: relative;
    padding:.5vw;
    font-size: 1.3vw;
}

.drinkcomment {
    position: absolute;
    right:5vw;
    top:.1vw;
    text-align: right;
}

.IPAcomment {
    position: absolute;
    right:5vw;
    bottom:.1vw;
    text-align: right;
}

.prices {
    position: absolute;
    bottom: 0;
    width:100%;
    text-align: center;
    font-size:2vw;
    border-top: var(--lightgray) 4px solid;
    display:grid;
    gap: .2vw;
    background-color: var(--lightgray);
    border-radius: 0 0 1vw 1vw;
}

.drinkprices {
    position: absolute;
    right: 0;
    top:0;
    height:100%;
    width:10%;
    text-align: center;
    font-size:2vw;
    border-left: var(--lightgray) 4px solid;
    display:grid;
    gap: .2vw;
    background-color: var(--lightgray);
    border-radius: 0 1vw 1vw 0;
}

.prices > span {
    padding: 1vw 0 1vw 0;
    background-color: white;
    border-radius: 1vw;
}

.drinkprices > span {
    padding-top: 2.5vw;
    background-color: white;
    border-radius: 1vw;
}

.drinkprices > span.largeprice {
    padding-top:3.75vw;
}

.prices > span:hover, .drinkprices > span:hover {
    background-color: var(--lightgray);
}

.pr2 {
    grid-template-columns: auto auto;
}

.pr3 {
    grid-template-columns: auto auto auto;
}

.byopcard {
    background-color: white;
    filter: drop-shadow(3px 3px 3px var(--dropshadow));
    grid-column: 2 / 4;
    width:40vw;
    height:25vw;
    margin:auto;
    border-radius: 1vw;
    font-size: 1vw;

}

.basiccheese {
    text-align: center;
    font-size: 1.3vw;
    margin: 1vw 0 1vw 0;
}

.ingredients {
    display:grid;
    grid-template-columns: auto auto auto;
    text-align: center;
}

.ingredients > div >h3 {
    margin:0;
    border-bottom: black 1px solid;
    border-top: black 1px solid;
}

.takenbakecard {
    grid-column: 1 / 3;
    width:40vw;
    background-color: white;
    margin:auto;
    padding: 1vw;
    text-align: center;

    border-radius: 1vw;
    filter: drop-shadow(3px 3px 3px var(--dropshadow));

    text-decoration: none;
    color:black;
}

.takenbakecard:hover {
    background-color: var(--lightgray);
}

.takenbakecard > h1 {
    font-size: 2vw;
    margin:0;
}

.takenbakecard > h2 {
    font-size: 1.5vw;
    margin:0;
    font-weight: normal;
    font-style: italic;
}

.spagettiprices {
    grid-template-columns: 25% 25% 25% 25%;
    grid-template-rows: 25% 75%;
    gap: 0;
}

.spagettititle {
    font-size: .85vw;
    background-color: white;
    margin-bottom: .2vw;
    border-radius: 1vw;
}

.spagettititle.left {
    grid-column: 1 / 3;
}

.spagettititle.right {
    grid-column: 3 / 5;
}

.pastahalfcard {
    position: relative;
    width:20vw;
    height:12.5vw;
    margin: 0 auto 0 auto;
    font-size: 1vw;
    background-color: white;
    border-radius: 1vw;
    filter: drop-shadow(3px 3px 3px var(--dropshadow));
    padding: .2vw;
}

.pastahalfcardtitle {
    margin:0;
    font-size: 1.3vw;
    text-align: center;
    font-weight: normal;
    border-bottom: var(--dropshadow) 2px solid;
}

.pastahalfcarddesc {
    font-size: 1.2vw;
    padding-top: 1.5vw;
    width:70%;
    margin:auto;
    line-height: 1.9vw;
}

.pastahalfcarddesc > span.price {
    float: right;
}

.centered {
    text-align: center;
}

.dressings {
    text-align: center;
    line-height: 2vw;
}

.beercard {
    position: relative;
    width:87.4vw;
    height:40vw;
    margin:auto;
    font-size: 1vw;
    background-color: white;
    border-radius: 1vw;
    filter: drop-shadow(3px 3px 3px var(--dropshadow));

    grid-column: 1 / 3;
}

.beercard > .drinkdesc {
    display:grid;
    column-gap: 1vw;
    grid-template-columns: auto auto auto auto;
    font-size: 1.4vw;
    margin: auto;
    margin-top:3vw;
}

.beercard > .drinkdesc > .beersubsection > span {
    font-weight: bolder;
    border-bottom: 2px var(--dropshadow) solid;
    line-height: 3vw;
}

.winecard {
    position: relative;
    width:42.8vw;
    height:auto;
    margin:auto;
    margin-top:0;
    font-size: 1vw;
    background-color: white;
    border-radius: 1vw;
    filter: drop-shadow(3px 3px 3px var(--dropshadow));
}

.winecard > .drinkdesc {
    grid-template-columns: auto auto auto auto;
    font-size: 1.4vw;
    margin: auto;
    margin-top:2vw;
    margin-bottom: 1vw;
}

.winecard > .drinkdesc > span.winetitle {
    font-weight: bolder;
    border-bottom: 2px var(--dropshadow) solid;
    line-height: 3vw;
}


footer {
    background-color: white;
}
